<link rel="import" 
      href="bower_components/polymer/polymer.html">
<link rel="import"
      href="bower_components/iron-input/iron-input.html">

<dom-module id="proto-element">
  <template>
    <style>
      div {
        display: inline-block;
        background-color: #ccc;
        border-radius: 8px;
        padding: 20px;
      }
    </style>

    <div>
      <p>{{mensaje}} {{owner}}</p>
      <input is="iron-input" bind-value="{{owner}}" placeholder="Your name here...">
      <content></content>
    </div>
  </template>

  <script>
    Polymer({
      is: "proto-element",
      
      hostAttributes: {
        'string-attribute': 'Value1',
        'boolean-attribute': true,
        tabindex: 0
      },

      properties: {
        owner: {
          type: String,
          value: "Daniel"
        }
      },

      created: function() {
        console.log(this.localName + '#' + this.id + ' was created');
      },

      ready: function() {
        console.log(this.localName + '#' + this.id + ' is ready');
        this.mensaje = "¡Hola "
      },

      attached: function() {
        console.log(this.localName + '#' + this.id + ' was attached');
      },

      detached: function() {
        console.log(this.localName + '#' + this.id + ' was detached');
      },

      attributeChanged: function(name, type) {
        console.log(this.localName + '#' + this.id + ' attribute ' + name + ' was changed to ' + this.getAttribute(name));
      }
    });
  </script>
</dom-module>