<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../polymer/polymer.html">

<!--
An element providing a solution to no problem in particular.

Example:

    <seed-element></seed-element>

@demo
-->
<dom-module id="input-id-document">

  <style>
    input{
      border : 1px solid deeppink;
    }
  </style>

  <template>
    <span>{{type}}</span>
    <input value={{value::input}} class="valid_{{valid}}"></input>
    <span>{{valid}}</span>
  </template>
  
</dom-module>

<script>

  Polymer({

    is: 'input-id-document',

    properties: {
      value:{
        type: String,
        value: '75152911C',
        //notify: true,
        observer: '_valueChanged',
        //reflectToAttribute: true
      },

      valid:{
        type: Boolean,
        value: false
      },
    },

    _valueChanged: function(newValue, oldValue) {
      console.log('Antiguo valor: ' + oldValue);
      console.log('Nuevo valor: ' + newValue);
      if(newValue.length == 7){
        this.valid = true;
      }
      else {
        this.valid = false;
      }
    },
    // Element Lifecycle

    ready: function() {
      // `ready` is called after all elements have been configured, but
      // propagates bottom-up. This element's children are ready, but parents
      // are not.
      //
      // This is the point where you should make modifications to the DOM (when
      // necessary), or kick off any processes the element wants to perform.
    },

    attached: function() {
      // `attached` fires once the element and its parents have been inserted
      // into a document.
      //
      // This is a good place to perform any work related to your element's
      // visual state or active behavior (measuring sizes, beginning animations,
      // loading resources, etc).
    },

    detached: function() {
      // The analog to `attached`, `detached` fires when the element has been
      // removed from a document.
      //
      // Use this to clean up anything you did in `attached`.
    },

    // Element Behavior

    /**
     * The `seed-element-lasers` event is fired whenever `fireLasers` is called.
     *
     * @event seed-element-lasers
     * @detail {{sound: String}}
     */

    /**
     * Sometimes it's just nice to say hi.
     *
     * @param {string} greeting A positive greeting.
     * @return {string} The full greeting.
     */
    sayHello: function(greeting) {
      var response = greeting || 'Hello World!';
      return 'seed-element says, ' + response;
    },

    /**
     * Attempts to destroy this element's enemies with an any beam of light!
     *
     * Or, at least, dispatches an event in the vain hope that someone else will
     * do the zapping.
     */
    fireLasers: function() {
      this.fire('seed-element-lasers', {sound: 'Pew pew!'});
    }

  });

</script>
